/* PHASE 1: Header */


head link{
  font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #000;
}

.header{
  color: #fff;
  background: red;
  border-bottom: 1px solid #ccc;
}

.header a {
  display: block;
  padding: 10px 20px;
}



.header-nav{
  margin: 0 auto;
  background: red;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-logo{
  float: left;
  border-right: 1px solid #ccc;
  font-weight: 700;
  -webkit-animation: 4s linear 0s infinite alternate move_eye;
}

.header-logo:hover {
  background: #000;
}

.header-list{
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: #000;
}

@-webkit-keyframes move_eye { from { margin-left:0%; } to { margin-left:37%; }  }
